@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .link-active {
    color: hsl(var(--link-active)); /* Apply the active link color */
  }
  .link-inactive {
    color: hsl(var(--link-inactive)); /* Inactive link color */
  }
  .bg-card-hover {
    background-color: hsl(var(--bg-card-hover));
  }
  .toolbar-bg {
    background-color: hsl(var(--background));
  }
  /* blog contents */

  .blog-content > * {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  /* .blog-content p:empty {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 20px;
  } */

  .blog-content h1 {
    font-size: 32px;
  }
  .blog-content h2 {
    font-size: 24px;
  }
  .blog-content h3 {
    font-size: 20px;
  }

  .blog-content mark {
    background-color: #d4edda;
    color: #155724;
    border-radius: 5%; /* Dark green text */
  }

  .blog-content blockquote {
    font-size: 1em;
    font-family: Open Sans;
    font-style: italic;
    color: var(--blockquote-text);
    padding: 1.2em 30px 1.2em 20px;
    border-left: 8px solid #78c0a8;
    line-height: 1.6;
  }
  .blog-content hr {
    border: 0;
    height: 1px;
    background-image: var(--hr-color);
  }
  a {
    position: relative;
    text-decoration: none;
  }

  a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #20c997;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }

  a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }
  a:hover {
    text-decoration-line: none !important;
  }

  .highlight {
    background-color: #d4edda;
    color: #155724;
    border-radius: 5%;
  }

  /* calendar heatmap */
  .space-y-4.rdp-caption_start.rdp-caption_end {
    margin-left: auto;
    margin-right: auto;
  }
}

@layer base {
  :root {
    --background: 352 41% 98%;
    --foreground: 352 70% 0%;
    --muted: 352 22% 92%;
    --muted-foreground: 352 1% 36%;
    --popover: 352 41% 98%;
    --popover-foreground: 352 70% 0%;
    --card: 352 41% 98%;
    --card-foreground: 352 70% 0%;
    --border: 352 3% 88%;
    --input: 352 3% 88%;
    --primary: 352 31% 54%;
    --primary-foreground: 0 0% 100%;
    --secondary: 352 11% 89%;
    --secondary-foreground: 352 11% 29%;
    --accent: 352 20% 81%;
    --accent-foreground: 352 20% 21%;
    --destructive: 1 87% 34%;
    --destructive-foreground: 1 87% 94%;
    --ring: 352 31% 54%;
    --radius: 0.5rem;
    /* main theme ends */
    --link-active: 215 27.9% 16.9%;
    --link-inactive: 0 0% 40%;
    --bg-card-hover: 48 20% 96.1%;
    --toolbar-button-active: 215 27.9% 16.9%;

    /* blog content */
    --blockquote-text: #414141;
    --hr-color: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.75),
      rgba(0, 0, 0, 0)
    );
  }
  .dark {
    --background: 221 50% 10%;
    --foreground: 221 5% 90%;
    --card: 221 50% 10%;
    --card-foreground: 221 5% 90%;
    --popover: 221 50% 5%;
    --popover-foreground: 221 5% 90%;
    --primary: 221 45% 33%;
    --primary-foreground: 0 0% 100%;
    --secondary: 221 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 183 30% 25%;
    --muted-foreground: 221 5% 60%;
    --accent: 183 30% 25%;
    --accent-foreground: 221 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 221 5% 90%;
    --border: 221 30% 26%;
    --input: 221 30% 26%;
    --ring: 221 45% 33%;
    --radius: 0.5rem;
    /* main theme ends */
    --link-active: 0 0% 100%;
    --link-inactive: 0 0% 60%;
    --bg-card-hover: 243.8 47.1% 20%;
    --toolbar-button-active: 48 11% 44%;

    /* blog content */
    --blockquote-text: #ffffff;
    --hr-color: linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 0)
    );
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
